@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.html {
    font-size: 16px;
}

.container {
    margin-top: 4em;
}

.btn {
    border-radius: 5px;
    width: 327px;
    height: 42px;
}

.entrar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: #7e7e7e;
    font: 700 15px "Poppins", sans-serif;
}

.fintech {
    position: relative;
    display: flex;
    justify-content: center;
    color: #7e7e7e;
    font: 700 32px "Poppins", sans-serif;
}

input {
    display: flex;
    padding: 13px;
    border-radius: 5px;
    border-style: double;
    border-width: 1px;
    width: 325px;
    border-color: #aaaaaa;
}

input::placeholder {
    color: transparent;
}

label {
    position: relative;
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding-inline: 6px;
    top: 10px;
    left: 10px;
}

.input-container-email {
    color: #757575;
    text-align: left;
    font: 200 12px "Poppins", sans-serif;
}

.input-container-pass {
    color: #757575;
    text-align: left;
    font: 200 12px "Poppins", sans-serif;
}


.link-opacity-50-hover {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2em;
    color: #7e7e7e;
    font: 400 10px "Poppins", sans-serif;
}

.buttons {
    position: relative;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#google-btn {
    width: 327px;
    height: 42px;
    left: 476px;
    top: 510px;
}

.inputs {
    position: ;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}